{% extends "base.html" %}


{% block content %}
<h3>Searched Blog</h3>

{% for blog in searchedblogs %}

<li><a style="font-size: 30px" href="{% url 'blogapp:blogdetail' blog.id %}">{{blog.title}}</a></li>
<p>{{blog.description|truncatewords:"20"}}</p>
<img src="{{blog.image.url}}" style="width: 200px">

{% empty %}
<h3>No blogs found</h3>

{% endfor %}


<h3>Searched News</h3>

{% for news in searchednews %}

<li><a style="font-size: 30px" href="{% url 'blogapp:newsdetail' news.id %}">{{news.title}}</a></li>
<p>{{news.detail|truncatewords:"20"}}</p>
<img src="{{news.image.url}}" style="width: 200px">

{% empty %}
<h3>No news found</h3>

{% endfor %}


{% endblock %}